form {
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

input {
  margin-bottom: 7px;
  width: 100%;
}

textarea {
  margin-bottom: 7px;
  width: 100%;
}
